{{%AUTOESCAPE context="HTML"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{TITLE}}</title>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css">
    <link href="http://fonts.googleapis.com/css?family=Shanti" rel="stylesheet" type="text/css">
    <link href="/static/base.css" rel="stylesheet" type="text/css">
    <link href="/static/home.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script src="/static/home.js"></script>
  </head>
  <body>
    {{>BODY}}
  </body>
</html>
