<div id="audio_container">
  <audio controls="controls" id="aud"></audio>
</div>

<br>
<input type="text" id="searchbox" size="30" placeholder="Enter a search term..."></input>
<button type="button" id="searchbutton">Search</button>
<br>

<table id="library">
  <tr>
	<th class="track_tracknum">#</th>
	<th class="track_title">Title</th>
	<th class="track_artist">Artist</th>
	<th class="track_album">Album</th>
	<th class="track_year">Year</th>
  </tr>
</table>

<div id="loading_message">
  loading tracks...
</div>
